<div class="card my-2" id="job-{{ job.id }}">
    <div class="row ml-2">
        <p class="col-8 my-2"><b>{{ job.occupation }}</b> | {{ job.company_name }}</p>
        <div class="btn-group col-4 flex-wrap">
            <button class="btn btn-primary rounded-0 " hx-trigger="click" type="button" hx-get="{{ job.get_edit_url }}" hx-target="#job-{{ job.id }}"hx-swap="outerHTML" >Edit</button>
            <a class="btn btn-secondary rounded-0" href="#" hx-trigger="click" hx-delete="{{ job.get_delete_url }}" hx-target="#job-{{ job.id }}" hx-swap="delete" >Delete</a>
        </div>
    </div>
</div>