

{% load crispy_forms_tags %}
<div class="skill-{{ skill.id }} card pt-2 pb-0 mb-2">
    <form class="form d-flex mb-1" hx-target="closest .skill-{{ skill.id }}" hx-trigger="change"  action="." method="POST" hx-post="{{ hx_url }}" hx-swap="outerHTML">
        {% csrf_token %}
        <div class="form-group col-6 mb-0">
            {{ form.skill_summary|as_crispy_field }}
        </div>
        <div class="form-group col-4 mb-0" >
            {{ form.rating|as_crispy_field }}
        </div>
        <div class="form-group col-2 mb-0 d-flex">
            <a class="btn btn-secondary btn-block align-self-center" href="#" hx-trigger="click" hx-delete="{{ skill.get_delete_url }}" hx-target="closest .skill-{{ skill.id }}" hx-swap="delete" >
                <span class="material-icons-outlined">
                    delete
                </span>
            </a>
        </div>
    </form>
</div>